
.hi-treino::after{
    content: '';
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: #deed39;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

input[type ="text"]{
    box-shadow: 1px 1px 2px rgb(179, 178, 178);
    border-radius: 10px;
    padding: 0.6rem ;
}

.btn-add{
    padding: 5px 25px;
    border: none;
    /* background-color: rgb(255, 255, 35); */
    font-weight: 800;
    font-size: 18px;
    
}