.container{
    width:100%;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

.formulario{
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
}

.btn{
    background-color: rgb(255, 255, 35);
    border: none;
    color: black;
    /* font-family: ; */
    font-weight: 800;
    padding: 0.4rem 2rem ;
}

.input-box input {
    margin: 0.4rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.img-perfil{
    width: 35%;
}

.img-perfil h2{
    margin-bottom: 2rem;
    width: 100%;
}

.img-perfil img{
    width: 9rem;
    height: 9rem;
}

.img-inserir{
    position: relative;
}

.fotoperfil{
    border-radius: 50%;
}

.meio-img{
    position: absolute;  
    top: 5rem; 
    left: 6rem;  
     z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    margin-top: 1rem;
}