<div class="fundo">
  <div *ngIf="loading">
    <app-modal-spinner></app-modal-spinner>
  </div>

  <div class="container">
    <div *ngIf="loading == true" class="spinner-container">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </div>

    <h1 class="h1-cli">Loja de Suplementos</h1>

    <div class="my-4 d-flex justify-content-between align-items-center">
      <div class="d-flex gap-5">
        <div *ngIf="tipo == 'Administrador'">
          <app-modal-produto (CloseModal)="Closemodal()"></app-modal-produto>
        </div>
      </div>
    </div>

    <!-- Tabela de Produtos com seleção de quantidade -->
    <table id="produtos-table" class="table ">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Marca</th>
          <th>Unidade de Medida</th>
          <th>Estoque</th>
          <th>Preço</th>
          <th>Qtd</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (produto of produtos | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; track produto) {
        <tr>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.marca }}</td>
          <td>{{ produto.unidade_medida }}</td>
          <td>{{ produto.quantidade }}</td>
          <td>{{ produto.preco}} </td>
          <td>
            <input type="number" min="1" max="{{produto.quantidade}}" [(ngModel)]="produto.qtdSelecionada"
              class="form-control form-control-sm" style="width: 70px;" />
          </td>
          <td>
            <button class="btn btn-sm btn-success" (click)="adicionarAoCarrinho(produto)">
              <i class="fas fa-plus"></i> Adicionar
            </button>
            <button *ngIf="tipo == 'Administrador'" class="btn btn-outline-primary btn-sm ms-2"
              (click)="editarProduto(produto)" data-bs-toggle="modal" data-bs-target="#modal-edit-p">
              <i class="fas fa-edit"></i> Editar
            </button>
            <app-modal-editar-prod (CloseModal)="Closemodal()" #modalP></app-modal-editar-prod>
            <button *ngIf="tipo == 'Administrador'" class="btn btn-danger btn-sm ms-2" (click)="openmodal(produto.id)">
              <i class="fas fa-trash"></i> Excluir
            </button>
            <app-modal-confirmar (confirm)="validarmodal($event)"></app-modal-confirmar>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <pagination-controls class="pagination" (pageChange)="paginaAtual = $event" previousLabel="Anterior"
      nextLabel="Próximo"></pagination-controls>

    <!-- Carrinho direto na tela -->
    <div class="mt-5">
      <h5>Itens na Venda</h5>

      <table class="tabela-itens">
        <thead>
          <tr>
            <th></th>
            <th>Produto</th>
            <th>Qtd</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of carrinho; let i = index">
            <td>
              <!-- Remover item inteiro -->
              <button class="btn btn-danger btn-sm me-2" title="Remover tudo" (click)="removerTudo(i)">
                <i class="fas fa-trash-alt"></i>
              </button>
              <!-- Remover 1 unidade -->
              <button class="btn btn-warning btn-sm " title="Remover 1 unidade" (click)="removerUnidade(i, item)">
                <i class="fas fa-minus"></i>
              </button>

            </td>
            <td>{{ item.nome }}</td>
            <td>{{ item.qtd }}</td>
            <td>R${{ item.preco * item.qtd |number:'1.2-2':'pt-BR'}}</td>
          </tr>
        </tbody>

      </table>

      <div class="mt-3 d-flex justify-content-end">
        <strong class="mx-1">Total: </strong>
        <strong>   {{totalCarrinho | number:'1.2-2':'pt-BR'}}</strong>
      </div>

      <button class="btn btn-primary mt-3" (click)="abrirModal()">
        Finalizar Venda
      </button>
    </div>
  </div>
</div>