<div class="fundo">
    <div *ngIf="loading">
      <app-modal-spinner></app-modal-spinner>
    </div>
    <div class="container">
      <div *ngIf="loading == true" class="spinner-container">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </div>
      <h1 class="h1-cli">Loja de Suplementos</h1>
      <div class="my-4 d-flex justify-content-between align-items-center">
        <div class="d-flex gap-5">
          <div>
            <button mat-raised-button class="btn btn-primary" (click)="abrirModalProduto()">
              + Novo Produto
            </button>
          </div>
          <div>
            <!-- <input type="text" placeholder="Pesquisar produto..." class="form-control" [(ngModel)]="filtroProduto" /> -->
          </div>
        </div>
        <!-- <app-modal-cadastro-produto (CloseModal)="fecharModalProduto()"></app-modal-cadastro-produto>
        <app-modal-editar-produto [produto]="produtoSelecionado" (CloseModal)="fecharModalProduto()"></app-modal-editar-produto>
        <app-modal-comprar-produto [produto]="produtoSelecionado" (CloseModal)="fecharModalProduto()"></app-modal-comprar-produto> -->
      </div>
  
      <table id="produtos-table">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Quantidade em Estoque</th>
            <th>Preço Unitário</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          @for (produto of produtos | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; track produto) {
          <tr>
            <td>{{produto.nome}}</td>
            <td>{{produto.quantidade}} unidades</td>
            <td>R$ {{produto.preco}}</td>
            <td>
              <button class="btn btn-outline-primary btn-sm" (click)="editarProduto(produto)">
                <i class="fas fa-edit"></i> Editar
              </button>
              <button mat-raised-button class="btn btn-success btn-sm mx-4" (click)="abrirModal(produto)">
                <i class="fas fa-shopping-cart"></i> Comprar
              </button>
              <button class="btn btn-danger btn-sm" (click)="removerProduto(produto.id)">
                <i class="fas fa-trash"></i> Remover
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
  
      <pagination-controls class="pagination" (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
    </div>
  </div>
  
