<h2 mat-dialog-title>Escolha o tipo de cadastro</h2>
<mat-dialog-content>
  <div class="d-flex flex-column gap-2">
    <button mat-raised-button color="primary" (click)="irParaCadastroCompleto()">
      📝 Cadastro Completo
    </button>
    <small class="desc-small text-center">(Planos, cliente e anamnese)</small>
    <button mat-raised-button color="accent" (click)="irParaCadastroSimples()">
      👤 Apenas Cliente
    </button>
    <small class="desc-small text-center">(Cliente)</small>

  </div>
</mat-dialog-content>