<span data-bs-toggle="modal" data-bs-target="#modalfaceid" style="cursor: pointer;"
    class="d-flex justify-content-center align-items-center flex-column">
    <i class="fa-solid fa-camera fa-2xl"></i>
    <br>
    <p>Face Id</p>
</span>

<div class="modal modal-lg fade" id="modalfaceid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-center flex-column">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <i style="font-size: 3.5rem;" class="fa-solid fa-camera fa-2xl"></i>
                <h2 class="modal-title mt-4 fs-10" id="exampleModalLabel">Faceid</h2>
            </div>
            <div class="modal-body">
                <div class="container p-2">
                    <div class="selfie-container">
                        
                        <div *ngIf="!imagemCapturada" class="camera">
                            <h2>Tire uma Selfie</h2>
                            <video #video autoplay></video>
                            <button class="mt-3 btn btn-warning" (click)="capturarSelfie()">Capturar Selfie</button>
                          </div>
                          
                          <div *ngIf="imagemCapturada" class="selfie-preview">
                            <h3>Selfie Capturada</h3>
                            <img [src]="imagemCapturada" alt="Selfie Capturada">
                            <br>
                            <div class="mt-5 d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary" (click)="ngAfterViewInit()">Repetir</button>
                                <button class="btn btn-warning" (click)="salvarSelfie()">Salvar Selfie</button>
                            </div>
                          </div>                          
                      
                        <!-- <div *ngIf="selfieSalva">
                          <h3>Selfie Salva com Sucesso!</h3>
                          <button (click)="realizarFaceID()">Verificar Face ID</button>
                        </div>
                      </div> -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button class="btn btn-primary">Cadastrar</button> -->
            </div>
        </div>
    </div>
</div>