<div class="fundo">
    <div *ngIf="loading">
        <app-modal-spinner></app-modal-spinner>
    </div>
    <div class="container">
        <div *ngIf="loading == true" class="spinner-container">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </div>
        <h1 class="h1-cli">Listagem de Clientes</h1>
        <div class="my-4 d-flex justify-content-between align-items-center">
            <div class="d-flex gap-5">
                <div>
                    <button mat-raised-button class="btn btn-primary" (click)="abrirModalExibir()">
                        + Adicionar
                    </button>
                </div>
                <div class="">
                    <button type="button" class="btn btn-primary" routerLink="anamnese"><i
                        class="fas fa-notes-medical mx-2"></i>Anamnese</button>
                    </div>
                    <div class="">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"><i class="fa-solid fa-sack-dollar mx-2"></i>Pagamentos</button>
                    </div>
                </div>
                <app-modal-cadastro (CloseModal)="Closemodal()" tipo="cliente"></app-modal-cadastro>
            <div class="">
                <!-- <span style="cursor: pointer;" class="d-flex justify-content-center align-items-center flex-column">
                    <i class="fa-solid fa-camera fa-2xl"></i>
                    <br>
                    <p>Face Id</p> -->
                <app-modal-faceid></app-modal-faceid>
                <!-- </span> -->
            </div>
        </div>
        <table id="clientes-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Personal</th>
                    <!-- <th>Frequência</th> -->
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="clientes-list">
                @for (dados of dados_cli | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; track dados) {
                <tr>
                    <td>{{dados.id}}</td>
                    <td>{{dados.nome}}</td>
                    <td>{{dados.email}}</td>
                    <td>{{dados.CPF}}</td>
                    <td>{{dados.nome_personal}}</td>
                    <!-- <td>{{dados.frequencia}}</td> -->
                    <td>
                        @if(func == 'personal'){
                        <button class="pn-button" routerLink="treinos" [queryParams]="{ id: dados.id}">Cadastrar
                            Treinos</button>
                        }@else {
                        <button class="btn btn-outline-primary" routerLink="editar" [queryParams]="{ id: dados.id}"><i class="fas fa-edit"></i> Editar</button>
                        <button class="pn-button btn-excluir" (click)="openmodal(dados.id)">Excluir</button>
                        @if(func == 'Administrador'){
                        <button class="btn-treino" routerLink="treinos" [queryParams]="{ id: dados.id}">Cad
                            Treinos</button>
                        }
                        <app-modal-confirmar (confirm)="validarmodal($event)"></app-modal-confirmar>
                        <button type="button" class="pn-button" (click)="openmodalH(dados.id)" data-bs-toggle="modal"
                            data-bs-target="#exibirModal">📜 Histórico</button>

                        <app-modal-exibir #modalH></app-modal-exibir>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <pagination-controls class="pagination" (pageChange)="paginaAtual = $event" previousLabel="Anterior"
            nextLabel="Próximo"></pagination-controls>
    </div>
</div>