/* styles.css */
.fundo {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}


.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-cli::after{
    content: '';
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: #deed39;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    border: 1px solid #ddd;
}

td {
    background-color: #ffff;
}

th {
    background-color: #f5f5f5;
}

.help-icon {
    font-size: 14px;
    color: #a1aeb9;
    position: absolute;
    margin-left: -2px;
    cursor: pointer;
    transition: 0.2s;
}
.help-icon:hover {
    color: #0d6efd;
    transform: scale(1.15);
}

.info-icon {
    margin-left: 6px;
    background: #007bff;
    color: white;
    padding: 1px 6px;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
}

.pagination {
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: end;
    font-weight: 200;
}

.pn-button {
    border: none;
    border-radius: 10px;
    font-weight: 700;
    padding: 0.3rem 1rem;
    background-color: rgb(46, 56, 240);
    color: white;
    margin-left: 1rem;
}

.btn-excluir {
    background-color: rgb(246, 62, 62);
}

.btn-excluir:hover {
    background-color: rgb(244, 48, 48);
}

.btn-treino {
    background-color: rgb(210, 210, 1);
}

.btn-treino:hover {
    background-color: rgb(175, 175, 1);
}

button:hover {
    background-color: rgb(31, 42, 247);
}