<div class="fundo">
  <div class="container">
    <div class="formulario">
      <h2>Cadastro de Treinos</h2>
      <form [formGroup]="formcadastro">
        <p>

          <label for="treino">Treino:</label>
          <!-- <input type="text" id="treino" formControlName="treino" [readOnly]="isDisabled"/> -->
          <select [attr.disabled]="isDisabled ? true : null" (change)="onTreinoChange($event)" (click)="ptreino()"
            formControlName="treino" class="form-control personal_options">
            <option value="0" disabled selected>Tipos</option>
            @for (dado of ttreino; track dado;) {
            <option value="{{ dado['id'] }}">{{ dado['tipo'] }}</option>
            }
          </select>
        </p>
        <p>
          <label for="grupo">Grupo Muscular:</label>
          <!-- <input type="text" id="grupo" formControlName="grupo"  [readOnly]="isDisabled"/> -->
          <select [attr.disabled]="isDisabled ? true : null" (change)="ongrupoChange($event)" (click)="pgrupo()"
            formControlName="grupo" class="form-control personal_options">
            <option value="0" disabled selected>Grupos</option>
            @for (dado of gtreino; track dado;) {
            <option value="{{ dado['id'] }}">{{ dado['grupo'] }}</option>
            }
          </select>
        </p>
        <p>
          <label for="exer">Exercício:</label>
          <!-- <input type="text" id="exer" formControlName="exer" /> -->
          <select id="exerrr" (click)="pgexer()" formControlName="exer" class="form-control personal_options">
            <option value="0" disabled selected>Exercicios</option>
            @for (dado of etreino; track dado;) {
            <option value="{{ dado['id'] }}">{{ dado['exercicio'] }}</option>
            }
          </select>
        </p>
        <p>
          <label for="series">Séries:</label>
          <input type="number" id="series" formControlName="series" />
        </p>
        <p>
          <label for="repeticoes">Repetições:</label>
          <input type="number" id="repeticoes" formControlName="repeticoes" />
        </p>
        <p>
          <button type="button" class="btn-add" (click)="adicionarTreino()">Adicionar Treino</button>
        </p>
      </form>
      <div class="Enviar-dados">
        <h2>Cliente: {{cliente}}</h2>
        <input type="submit" (click)="submit()" class="btn-enviar" value="Enviar">
      </div>
    </div>
    <div class="ficha">
      <h2>Ficha:</h2>
      @if (click == true) {
      <p class="p-treino">Treino: {{ tipo }}</p>
      <p class="p-grupo">Grupo: {{ grupo }}</p>
      }
      <div class="d-flex">
        <table>
          <tr>
            <th>Exercício:</th>
            <th>Séries:</th>
            <th>Repetições:</th>
          </tr>
          @for (treino of treinos; track $index) {
          <tr>
            <td>
              {{ exer[$index]}}
            </td>
            <td>{{ treino.series }}</td>
            <td>{{ treino.repeticoes }}</td>
          </tr>
          }
        </table>
      </div>
    </div>
  </div>
</div>