
.fundo{
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.container {
  max-width: 100%;
  /* margin: 0 auto; */
}


.grid-container {
  margin: 20px;
  height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}


.mat-h1{
  margin-top: 5rem;
}