
.fundo{
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.container {
  max-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.total-pagamentos,.cad-treinos{
  padding: 2rem;
}


.total-pagamentos p{
  font-size: 40px;
}

.card{
  margin-bottom: 8rem;
  padding: 1rem;
}

.cad-treinos{
  padding: 2rem;
}

