<div class="fundo">
    <div class="p-0 container">
        <div class="login">
            <div class="login-img">
                <img src="assets/imgs/logo/logo.jpg" alt="" >
            </div>
            <div class="form">
                <form [formGroup]="formlogin" (ngSubmit)="submit()">
                    <div class="input">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" formControlName="email" >
                    </div>
                    <div class="input">
                        <label for="Senha">Senha:</label>
                        <input type="password" id="senha" name="senha" formControlName="senha">
                    </div>
                    <div class="input-button">
                        <button class="btn" *ngIf="!loading"><b>Entrar</b></button>
                        <div *ngIf="loading" class="spinner-container">
                            <button class="btn btn-primary" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Carregando...
                            </button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
