<div class="fundo">
    <div class="container">
        <h1>Histórico de Faturas</h1>
        <!-- @for (item of items; track $index) {} -->
        <div class="faturas">
            <div class="text-fatura">
                <div class="icon">
                    <i class="fa-solid fa-receipt">
                        <p>Número da fatura</p>
                    </i>
                </div>
            </div>
            <div class="pagamento">
                <div class="valor">
                    <p>VALOR</p>
                    <p>R$100</p>
                </div>
                <div class="DATA DE VENCIMENTO">
                    <p>DATA DE VENCIMENTO</p>
                    <p>07/06/2024</p>
                </div>
                <div class="DATA DO PAGAMENTO">
                    <p>DATA DO PAGAMENTO</p>
                    <p>-</p>
                </div>
                <div class="btn-comprovante">
                    <!-- @if () {} -->
                    <button class="btn-pagar" onclick="">PAGAR AGORA</button>
                </div>
            </div>
        </div>
        <div class="faturas">
            <div class="text-fatura">
                <div class="icon">
                    <i class="fa-solid fa-receipt">
                        <p>Número da fatura</p>
                    </i>
                </div>
            </div>
            <div class="pagamento">
                <div class="valor">
                    <p>VALOR</p>
                    <p>R$100</p>
                </div>
                <div class="DATA DE VENCIMENTO">
                    <p>DATA DE VENCIMENTO</p>
                    <p>07/06/2024</p>
                </div>
                <div class="DATA DO PAGAMENTO">
                    <p>DATA DO PAGAMENTO</p>
                    <p>-</p>
                </div>
                <div class="btn-comprovante">
                    <!-- @if () {} -->
                    <button class="btn-pagar" onclick="">PAGAR AGORA</button>
                </div>
            </div>
        </div>
        <div class="faturas">
            <div class="text-fatura">
                <div class="icon">
                    <i class="fa-solid fa-receipt">
                        <p>Número da fatura</p>
                    </i>
                </div>
            </div>
            <div class="pagamento">
                <div class="valor">
                    <p>VALOR</p>
                    <p>R$100</p>
                </div>
                <div class="DATA DE VENCIMENTO">
                    <p>DATA DE VENCIMENTO</p>
                    <p>07/06/2024</p>
                </div>
                <div class="DATA DO PAGAMENTO">
                    <p>DATA DO PAGAMENTO</p>
                    <p>-</p>
                </div>
                <div class="btn-comprovante">
                    <!-- @if () {} -->
                    <button class="btn-pagar" onclick="">PAGAR AGORA</button>
                </div>
            </div>
        </div>
        <div class="faturas">
            <div class="text-fatura">
                <div class="icon">
                    <i class="fa-solid fa-receipt">
                        <p>Número da fatura</p>
                    </i>
                </div>
            </div>
            <div class="pagamento">
                <div class="valor">
                    <p>VALOR</p>
                    <p>R$100</p>
                </div>
                <div class="DATA DE VENCIMENTO">
                    <p>DATA DE VENCIMENTO</p>
                    <p>07/06/2024</p>
                </div>
                <div class="DATA DO PAGAMENTO">
                    <p>DATA DO PAGAMENTO</p>
                    <p>-</p>
                </div>
                <div class="btn-comprovante">
                    <!-- @if () {} -->
                    <button class="btn-pagar" onclick="">PAGAR AGORA</button>
                </div>
            </div>
        </div>
        
    </div>
</div>
