<div class="fundo">
    <div>
        <h1 class="h1-perfil">Perfil</h1> 
    </div>  
    <div class="container">
        <div class="img-perfil d-block">
            <div class="img-inserir">
                <label for="fileInput">
                    <i class="fa-solid fa-plus meio-img"></i>
                    <img class="fotoperfil" src={{caminhoFoto}} alt="">
                    <!-- <p class="meio-img">Adicionar imagem</p> -->
                </label>
              </div>
              
            <div class="mt-3">
                <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
                <!-- <button (click)="uploadImage()">Enviar Imagem</button> -->
            </div>            
        </div>
        <div class="formulario">
            <form [formGroup]="formcadastro" method="post">
            @for (dados of data; track dados){
             <h1> {{dados.nome}}</h1>   
            }
            @for (dados of data; track dados){
            <div class="input-group">
                <div class="input-box">
                    <label for="nome">Nome</label>
                    <input style="color: black;" type="text" id="nome" formControlName = "nome" class="form-control readonly-input" [readonly]="isReadonly" required>
                </div>

                <!-- <div class="input-box">
                    <label for="personal">Personal</label>
                    <input type="text" formControlName = "personal_id" class="form-control" id="personal"  required>
                </div> -->
                <div class="input-box">
                    <label for="CPF">CPF</label>
                    <input type="text" formControlName = "CPF" class="form-control readonly-input" id="CPF" [readonly]="true"> 
                </div>
                
                <div class="input-box">
                    <label for="email">Email</label>
                    <input type="email" formControlName = "email" class="form-control readonly-input" id="email" [readonly]="isReadonly" required>
                </div>
            </div>
        }

            <div class="continue-button">
                @if(btn_editar == false){
                    <button class="btn btn-primary" (click)="HabilitarEditar()">Editar</button>
                    }
                @else{
                    <button type="submit" (click)="edit()" class="btn btn-primary">Enviar</button>
                    <div class="excluir-cont"><button>Excluir conta</button></div>
                }
                </div>
        </form>
        </div>
    </div>
</div>
