.fundo{
    height: 70vh;
    width: 100%;
    display: flex;
}

.container{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.formulario{
    width: 70%;
    flex-wrap: wrap;
}

.h1-perfil{
    margin: 3rem;
    border-bottom: 2px solid rgba(255, 230, 0, 0.76);
    width: 30%;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
    
}

.input-box input {
    margin: 0.1rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.img-perfil{
    width: 35%;
}

.img-perfil img{
    width: 10rem;
    cursor: pointer;
}
.img-inserir{
    position: relative;
}

.fotoperfil{
    border-radius: 50%;
}

.meio-img{
    position: absolute;  
    top: 6rem; 
    left: 8rem;  
     z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    margin-top: 1rem;
}

.btn{
    margin-top: 1rem;
    color: black;
    padding: 10px 60px;
    border: none;
    border-radius: 10px;
    font-weight: 200;
    background-color: #E7F53D;
    font-family: 'Anton' , serif;
    text-transform: uppercase;
}

.readonly-input[readonly] {
    background-color: #EEE;
  }
  
.excluir-cont{
    width: 65%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.excluir-cont button{
    color: red;
    border: none;
    background-color: transparent;
    text-decoration:underline ;
    font-family: 'Anton' , serif;
}