<div class="fundo">
    <div class="conteudo">
        <div class="dashboard">
            <!-- <div class="card">
                <h2>Eventos</h2>
                <p>Inverno começou aquece-se na nossa academia !</p>
            </div> -->
            <div class="card">
                <h2>Treinos</h2>
                @for (treino of treinos; track treino.id) {
                <p>Treino: {{treino.tipo}}</p>
                <p>Status: {{treino.status}}</p>
                }
                <a routerLink="/home-cliente/treinos">Ver</a>
            </div>
            <!-- <div class="card">
                <h2>Pagamentos</h2>
                @for (item of pagamentos; track $index) {
                @if (item.status_pagamento == 'pendente') {
                <p>valor: {{item.valor}}</p>
                <p>Clique abaixo Para pagar a sua Fatura</p>
                }
                @else {
                <p>Clique abaixo para ver o seus comprovantes</p>
                <a routerLink="/home-cliente/pagamentos">Ver</a>
                }
                }
            </div> -->
        </div>
    </div>