<div class="fundo">
    <div class="conteudo">
        <div class="dashboard">
            <div class="card">
                <h2>Eventos</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card">
                <h2>Treinos</h2>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="card">
                <h2>Pagamentos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
        </div>
    </div>
