<div class="container mt-4" [formGroup]="anamneseForm">
    <h2>Editar Anamnese</h2>
  
    <!-- Formulário de Anamnese -->
    <form [formGroup]="anamneseForm" (ngSubmit)="atualizarAnamnese()">
      <!-- PERGUNTA 1 -->
      <div class="mb-3">
        <label class="form-label">1. Um médico já lhe disse que você tinha alguns dos problemas abaixo?</label>
        <div class="row">
          <div class="col-md-4" *ngFor="let problema of problemasSaude">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [value]="problema"
                     [checked]="anamneseForm.get('perg_problemas_saude')?.value.includes(problema)"
                     (change)="onCheckboxChange($event, 'perg_problemas_saude')">
              <label class="form-check-label ms-2">{{ problema }}</label>
            </div>
          </div>
          <label class="form-check-label my-2">Por favor explique: </label>
          <input class="form-control" type="text" formControlName="perg_problemas_saude_desc">
        </div>
      </div>
  
      <!-- PERGUNTA 2 -->
      <div class="mb-3">
        <label class="form-label">2. Você tem algum dos sintomas abaixo?</label>
        <div class="row">
          <div class="col-md-4" *ngFor="let sintoma of sintomasLista">
            <input class="form-check-input" type="checkbox" [value]="sintoma"
                   [checked]="anamneseForm.get('perg_sintomas')?.value.includes(sintoma)"
                   (change)="onCheckboxChange($event, 'perg_sintomas')">
            <label class="form-check-label ms-2">{{ sintoma }}</label>
          </div>
          <label class="form-check-label my-2">Por favor explique: </label>
          <input class="form-control" type="text"  formControlName="perg_sintomas_desc">
        </div>
      </div>
  
      <!-- PERGUNTA 3 -->
      <div class="mb-3">
        <label class="form-label">3. Liste os medicamentos que você está tomando (nome e motivo)</label>
        <textarea class="form-control" formControlName="perg_medicamentos"></textarea>
      </div>
  
      <!-- PERGUNTA 4 -->
      <div class="mb-3">
        <label class="form-label">4. Algum parente próximo teve ataque cardíaco antes dos 50 anos?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="1" formControlName="perg_historico_familiar_cardiaco">
          <label class="form-check-label">Sim</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="0" formControlName="perg_historico_familiar_cardiaco">
          <label class="form-check-label">Não</label>
        </div>
      </div>
  
      <!-- PERGUNTA 5 -->
      <div class="mb-3">
        <label class="form-label">5. Algum médico disse que você tinha alguma restrição á prática de atividades físicas (inclusive cirurgia)</label>
        <input type="text" class="form-control" formControlName="perg_restricao_medica">
      </div>
  
      <!-- PERGUNTA 6 -->
      <div class="mb-3">
        <label class="form-label">6. Você está grávida?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="1" formControlName="perg_gravida">
          <label class="form-check-label">Sim</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="0" formControlName="perg_gravida">
          <label class="form-check-label">Não</label>
        </div>
      </div>
  
      <!-- PERGUNTA 7 -->
      <div class="mb-3">
        <label class="form-label">7. Você fuma?</label>
        <input type="text" class="form-control" formControlName="perg_fuma">
      </div>
  
      <!-- PERGUNTA 8 -->
      <div class="mb-3">
        <label class="form-label">8. Você ingere bebidas alcoólicas?</label>
        <input type="text" class="form-control" formControlName="perg_bebe_alcool">
      </div>
  
      <!-- PERGUNTA 9 -->
      <div class="mb-3">
        <label class="form-label">9. Atualmente você tem se exercitado pelo menos 2 vezes por semana?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="1" formControlName="perg_exercicio_frequente">
          <label class="form-check-label">Sim</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="0" formControlName="perg_exercicio_frequente">
          <label class="form-check-label">Não</label>
        </div>
      </div>
  
      <!-- PERGUNTA 10 -->
      <div class="mb-3">
        <label class="form-label">10. Total de minutos dispensados em atividades aeróbicas por semana:</label>
        <input type="number" class="form-control" formControlName="perg_qtde_aerobico">
      </div>
  
      <!-- PERGUNTA 11 -->
      <div class="mb-3">
        <label class="form-label">11. Você mediu sua taxa de colesterol no ano passado?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="0" formControlName="perg_colesterol_medido">
          <label class="form-check-label">Sim</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="1" formControlName="perg_colesterol_medido">
          <label class="form-check-label">Não</label>
        </div>
      </div>
  
      <!-- PERGUNTA 12 -->
      <div class="mb-3">
        <label class="form-label">12. Você come alimentos dos 4 maiores grupos alimentares?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="0" formControlName="perg_alimentacao_balanceada">
          <label class="form-check-label">Sim</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="1" formControlName="perg_alimentacao_balanceada">
          <label class="form-check-label">Não</label>
        </div>
      </div>
  
      <!-- PERGUNTA 13 -->
      <div class="mb-3">
        <label class="form-label">13. Sua dieta tem alto teor de gordura saturada?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="1" formControlName="perg_gordura_alta">
          <label class="form-check-label">Sim</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="0" formControlName="perg_gordura_alta">
          <label class="form-check-label">Não</label>
        </div>
      </div>
  
      <!-- PERGUNTA 14 -->
      <div class="mb-3">
        <label class="form-label">14. Qual seu nível de estresse?</label>
        <select class="form-select" formControlName="perg_nivel_estresse">
          <option value="leve">Leve</option>
          <option value="moderado">Moderado</option>
          <option value="elevado">Elevado</option>
          <option value="constante">Constante</option>
        </select>
      </div>
  
      <!-- PERGUNTA 15 -->
      <div class="mb-3">
        <label class="form-label">15. Quais são seus objetivos ao ingressar em um grupo de promoção de saúde?</label>
        <div class="row">
          <div class="col-md-4" *ngFor="let objetivo of objetivos">
            <input class="form-check-input" type="checkbox" [value]="objetivo"
                   [checked]="anamneseForm.get('perg_objetivos_saude')?.value.includes(objetivo)"
                   (change)="onCheckboxChange($event, 'perg_objetivos_saude')">
            <label class="form-check-label ms-2">{{ objetivo }}</label>
          </div>
          <label class="form-check-label mt-4 mb-2">Se outro(explique): </label>
          <input class="form-control" type="text" formControlName="perg_objetivos_saude_desc">
        </div>
      </div>
  
      <!-- Anotações -->
      <div class="mb-3">
        <label class="form-label">Anotações:</label>
        <textarea class="form-control" rows="3" formControlName="anotacoes"></textarea>
      </div>
  
      <!-- Botão -->
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
  
