<div class="date-container">
  <i class="bi bi-calendar3 text-primary me-2"></i>
  <input
    matInput
    type="text"
    ngxDaterangepickerMd
    [alwaysShowCalendars]="true"
    [locale]="{ applyLabel: 'Aplicar', format: 'DD/MM/YYYY', clearLabel: 'Limpar' }"
    [showClearButton]="true"
    [ranges]="ranges"
    [lockStartDate]="false"
    [showDropdowns]="true"
    [drops]="'down'"
    [opens]="'center'"
    [(ngModel)]="selected"
    name="daterange"
    class="form-control"
    placeholder="Selecione o período"
    (ngModelChange)="onDateChange($event)"
    containerClass="theme-dark"
  />
</div>
