@if (tipo == 'relatorioClientes') {
  
<div class="d-flex justify-content-around align-items-center">
  <h2 mat-dialog-title >
    📊 Relatórios dos Clientes
  </h2>
  <div class="date-picker-box">
      <app-datapicker (dateSelected)="onDatePicked($event)"></app-datapicker>
    </div>
</div>


<mat-dialog-content>
  <div class="d-flex flex-column gap-3">

    <div class="itens">
      <div class="d-flex flex-column gap-3 py-2">

        <div class="d-flex align-items-center gap-2">
          <mat-form-field appearance="fill" class="w-50">
            <mat-label>Tipo de relatório</mat-label>
            <mat-select [(value)]="tipoRelatorio">
              <mat-option value="pagamentos">Pagamentos</mat-option>
              <mat-option value="presenca">Presença</mat-option>
              <mat-option value="status">Status</mat-option>
              <!-- <mat-option value="geral">Completo</mat-option> -->
            </mat-select>
          </mat-form-field>
          <div class="text-end">
            <button mat-raised-button color="primary" (click)="gerarRelatorio(tipoRelatorio)">
              <i class="fa-solid fa-file-pdf me-2"></i>Gerar Relatório
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>
</mat-dialog-content>

<mat-dialog-actions class="text-end pt-2">
  <button mat-button (click)="cancelar()">Cancelar</button>
</mat-dialog-actions>
} @else if (tipo == 'relatorioClienteid') {
<h2 mat-dialog-title class="d-flex justify-content-between align-items-center">
  <span>📊 Relatórios dos Clientes</span>
  <div class="date-picker-box">
    <app-datapicker (dateSelected)="onDatePicked($event)"></app-datapicker>
  </div>
</h2>


<mat-dialog-content>
  <div class="d-flex flex-column gap-3">

    <div class="itens">
      <div class="d-flex flex-column gap-3 py-2">

        <div class="d-flex align-items-center gap-2">
          <mat-form-field appearance="fill" class="w-50">
            <mat-label>Tipo de relatório</mat-label>
            <mat-select [(value)]="tipoRelatorio">
              <!-- <mat-option value="pagamentos">Pagamentos</mat-option> -->
              <mat-option value="presenca">Presença</mat-option>
              <!-- <mat-option value="status">Status</mat-option> -->
              <!-- <mat-option value="geral">Completo</mat-option> -->
            </mat-select>
          </mat-form-field>
          <div class="text-end">
            <button mat-raised-button color="primary" (click)="gerarRelatorioSeparado(tipoRelatorio)">
              <i class="fa-solid fa-file-pdf me-2"></i>Gerar Relatório
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</mat-dialog-content>

<mat-dialog-actions class="text-end pt-2">
  <button mat-button (click)="cancelar()">Cancelar</button>
</mat-dialog-actions>
}