.pn-button {
    border: none;
    border-radius: 10px;
    font-weight: 700;
    padding: 0.3rem 1rem;
    background-color: rgb(46, 56, 240);
    color: white;
    margin-left: 1rem;
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
    z-index: 9999999 !important;
}

/* Garante que o container global não esteja escondido */
::ng-deep .cdk-overlay-container {
    z-index: 9999999 !important;
}