<nav class="navbar navbar-expand-lg bg-fundo menu-pc">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" href="#">Fitness Prime</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="menu">
        <ul class="navbar-nav d-flex">
          <div class="d-flex ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="dashboard">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="treinos">Treinos</a>
            </li>
            <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="pagamentos">Pagamentos</a>
                </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLink="perfil">Perfil</a>
            </li>
            <li class="nav-item">
              <a style="cursor: pointer;" class="nav-link" (click)="loggout()">Sair</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<!-- Mobile Bottom Navigation -->
<nav class="navbar fixed-bottom navbar-dark bg-dark mobile-bottom-nav d-lg-none">
  <div class="container-fluid justify-content-around">
    <a class="nav-link text-white text-center" routerLink="dashboard" routerLinkActive="active-link">
      <i class="bi bi-house fs-4"></i>
      <div class="small">Home</div>
    </a>
    <a class="nav-link text-white text-center" routerLink="treinos" routerLinkActive="active-link">
      <i class="fa-solid fa-dumbbell"></i>
      <div class="small mt-1">Treinos</div>
    </a>
    <!-- <a class="nav-link text-white text-center" routerLink="pagamentos" routerLinkActive="active-link">
        <i class="bi bi-cash-coin fs-4"></i>
        <div class="small">Pagamentos</div>
      </a> -->
    <a class="nav-link text-white text-center" routerLink="perfil" routerLinkActive="active-link">
      <i class="bi bi-person fs-4"></i>
      <div class="small">Perfil</div>
    </a>

    <!-- Botão de Instalar App (PWA) -->
    <a *ngIf="pwaService.showButton" class="nav-link text-warning text-center" style="cursor: pointer;"
      (click)="installApp()">
      <i class="bi bi-download fs-4"></i>
      <div class="small">Instalar</div>
    </a>

    <a class="nav-link text-white text-center" style="cursor: pointer;" (click)="loggout()">
      <i class="bi bi-box-arrow-right fs-4"></i>
      <div class="small">Sair</div>
    </a>
  </div>
</nav>