<div class="fundo">
    <div class="container">
        <h1>Listagem de Funcionários</h1>
        <table id="clientes-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Função</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="clientes-list">
                @for (dados of dados_funcionario | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; track dados) {
                <tr>
                    <td>{{dados.id}}</td>
                    <td>{{dados.nome}}</td>
                    <td>{{dados.email}}</td>
                    <td>{{dados.CPF}}</td>
                    <td>{{dados.funcao}}</td>
                    <td>
                        <button routerLink="editar" [queryParams]="{ id: dados.id}">Editar</button>
                        <button class="btn-excluir"(click)="excluir(dados.id)">Excluir</button>            
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <pagination-controls class="pagination" (pageChange)="paginaAtual = $event"></pagination-controls>
    </div>
</div>

