<div class="fundo">
  <div class="container">
    <div class="text" *ngIf="step === 1">
      <h1>Esqueci a minha senha</h1>
      <p>Por favor, digite o seu e-mail cadastrado para recuperar sua senha.
        <br>Enviaremos um link de redefinição de senha
        para o endereço de e-mail fornecido.
      </p>
      <form [formGroup]="recuperarForm" (ngSubmit)="onSubmitEmail()">
        <div class="input-label">
          <label for="email">Email:</label>
          <input id="email" formControlName="email" type="email" />
        </div>
        <div class="continue-button">
          <button *ngIf="!loading" class="btn" type="submit">Enviar</button>
          <div *ngIf="loading" class="spinner-container">
            <button class="btn" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Carregando...
            </button>
          </div>
        </div>
        <p class="text-recu">Se você não receber o e-mail de recuperação, <br>verifique sua pasta de spam ou tente
          novamente.</p>
      </form>
    </div>

    <div class="text" *ngIf="step === 2">
      <h1>Esqueci a minha senha</h1>
      <p>Por favor, digite o Código que foi enviado<br>
        para o endereço de e-mail fornecido.</p>
      <form [formGroup]="recuperarForm" (ngSubmit)="onSubmitcodSenha()">
        <div class="input-label">
          <label for="codsenha">Codigo Enviado:</label>
          <input id="codsenha" formControlName="codsenha" type="text" />
        </div>
        <button class="btn" type="submit">Enviar</button>
        <p class="text-recu">Se você não receber o e-mail de recuperação, <br>verifique sua pasta de spam ou tente
          novamente.</p>
      </form>
    </div>

    <div class="text" *ngIf="step === 3">
      <h1>Esqueci a minha senha</h1>
      <p>Por favor, digite o seu e-mail cadastrado para recuperar sua senha.
        <br>Enviaremos um link de redefinição de senha
        para o endereço de e-mail fornecido.
      </p>
      <form [formGroup]="recuperarForm" (ngSubmit)="onSubmitNewSenha()">
        <div class="input-label">
          <label for="senha">Nova Senha:</label>
          <input id="senha" formControlName="senha" type="password" />
        </div>
        <div class="input-label">
          <label for="confirmeSenha">Confirme a Nova Senha:</label>
          <input id="confirmeSenha" formControlName="confirmeSenha" type="password" />
        </div>
        <button class="btn" type="submit">Alterar Senha</button>
        <!-- <p class="text-recu">Se você não receber o e-mail de recuperação, <br>verifique sua pasta de spam ou tente novamente.</p> -->
      </form>
    </div>
  </div>
</div>