<div class="fundo">
    <div class="container">
        <div class="img-perfil">
            <h1>Perfil</h1>
            <img src="assets/imgs/user.png" alt="user">
        </div>
        <div class="formulario">
            <form [formGroup]="formcadastro" method="post">
            @for (dados of data; track dados){
             <h1>Funcionário: {{dados.nome}}</h1>   
            }
            @for (dados of data; track dados){
            <div class="input-group">
                <div class="input-box">
                    <label for="nome">Nome</label>
                    <input style="color: black;" type="text" id="nome" formControlName = "nome" class="form-control"  required>
                </div>                  

                <div class="input-box">
                    <label for="CPF">CPF</label>
                    <input type="text" formControlName = "CPF" class="form-control" id="CPF" > 
                </div>
                
                <div class="input-box">
                    <label for="email">Email</label>
                    <input type="email" formControlName = "email" class="form-control" id="email" required>
                </div>

                <div class="input-box">
                    <label for="funcao">Função</label>
                    <select (change)="cadFuncao($event)" name="funcao">
                      <option selected disabled>Escolha uma opção</option>
                      <option value="Personal">Personal</option>
                      <option value="Secretário">Secretário</option>
                      <option value="Administrador">Administrador</option>
                    </select>
                  </div>
                  
            </div>
        }
        <div class="continue-button">
            <button *ngIf="!loading" type="submit" (click)="edit()" class="btn btn-primary">
            Enviar
            </button>
            <div *ngIf="loading" class="spinner-container">
                <button class="btn btn-primary" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
                </div>
            </div>
        </form>
        </div>
        
    </div>
</div>
