header{
    position: fixed;
    width: 100%;
}

header .container-menu{
   background-image: linear-gradient(rgb(0, 0, 0), rgba(23, 22, 22, 0)); 
   height: 5rem;   
}


header .bg-body-tertiary{
    background-color: rgb(46, 44, 44);

}
.navbar-brand{
    color: white;
}


header .text-logo{
    margin: 4rem;
}

header .text-logo:hover{
    background-color: black;
    border-bottom: 2px solid rgb(255, 157, 0);  
}


header .navbar-menu{
    font-size: 20px;
}

