<div class="fundo">
    <div class="container">
        <div class="treino">
            <p>Treino {{dados_cli[0].treino}} </p>
        </div>
        <div class="ficha">
            <div class="fundo-table">
                <!-- <h2>Tipo do treino</h2> -->
                <table id="treino-table">
                    <thead>
                        <tr>
                            <th>Exercício</th>
                            <th>Series</th>
                            <th>Repetições</th>
                            <th>Concluido</th>
                        </tr>
                    </thead>
                    <tbody id="clientes-list">
                        @for (dados of dados_cli; track dados) {
                        <tr>
                            <td>{{dados.exer}}</td>
                            <td>{{dados.series}}</td>
                            <td>{{dados.repeticoes}}</td>
                            <td><input type="checkbox" id="check-box"></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="feedback">
                <div class="text-feed">
                    <h1>Feedback</h1>
                </div>
                <div class="text-area">
                    <textarea name="area" id="area"></textarea>
                </div>
            </div>
        </div>
        <div class="enviar">
            <button class="btn-enviar" onclick="">Enviar</button>
        </div>
    </div>
</div>
