/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a,
h1,
h2,
h3 {
  font-family: 'Anton', serif !important;

}

p {
  font-family: "Poppins", sans-serif !important;
}

::ng-deep .cdk-overlay-container {
    z-index: 9999 !important;
}

::ng-deep .cdk-global-overlay-wrapper {
    z-index: 10000 !important;
}


.daterangepicker.theme-dark {
  /* Força o posicionamento em relação ao viewport */
  position: fixed !important;
  /* Garante que ele fique acima de tudo */
  z-index: 10000 !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}


.mat-dialog-container {
  overflow: visible !important;
  transform: none !important;
  perspective: none !important;
}

.cdk-overlay-pane {
  transform: none !important;
  perspective: none !important;
}