p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.descricao-academia{
    width: 50%;
}

.card-plano:hover{
    transform: scale(1.1) ;
    transition: 0.4s all;
    cursor: pointer;
}

.beneficios li{
    list-style: none;
}