<div class="fundo">
    <nav id="sidebar" class="open-sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img [src]="fotoPerfil" id="user_avatar" alt="Avatar">

                <h3 class="mt-3" id="user_infos">
                    <span class="item-description">
                        {{funcionalidade}}
                    </span>
                    <span class="item-description">
                        Sistema para academias
                    </span>
                </h3>
            </div>

            <ul id="side_items" class="p-0">
                <!-- <li class="side-item" routerLinkActive="mat-accent">
                    <a routerLink="dashboard">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Dashboard
                        </span>
                    </a>
                </li> -->
                @if (funcionalidade != 'Secretario') {
                <li class="side-item" routerLinkActive="mat-accent">
                    <a routerLink="treinos">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span class="item-description">
                            Treinos
                        </span>
                    </a>
                </li>
                }

                <li class="side-item" routerLinkActive="mat-accent">
                    <div class="d-flex justify-content-between align-items-center">
                        <a routerLink="clientes" class="d-flex align-items-center">
                            <i class="fa-solid fa-user"></i>
                            <span class="item-description ms-2">Clientes</span>
                        </a>
                        <i (click)="openDrop()" class="open-drop fa-solid"
                            [ngClass]="abrirDrop ? 'fa-chevron-up' : 'fa-chevron-down'" style="cursor: pointer;">
                        </i>
                    </div>
                </li>

                <ul class="dropdown-clientes" [class.aberto]="abrirDrop">
                    <li routerLinkActive="mat-accent">
                        <a routerLink="clientes/anamnese">
                            <i class="fas fa-notes-medical mx-2"></i>
                            <span class="item-description">Anamnese</span>
                        </a>
                    </li>

                    <li routerLinkActive="mat-accent">
                        <a routerLink="clientes/pagamentos">
                            <i class="fa-solid fa-sack-dollar mx-2"></i>
                            <span class="item-description">Pagamentos</span>
                        </a>
                    </li>
                </ul>



                @if (funcionalidade != 'personal') {
                <li class="side-item" routerLinkActive="mat-accent">
                    <a routerLink="funcionarios">
                        <i class="fa-solid fa-user-tie"></i>
                        <span class="item-description">
                            Funcionários
                        </span>
                    </a>
                </li>
                }
                @if (funcionalidade == 'personal') {
                <li class="side-item" routerLinkActive="mat-accent">
                    <a routerLink="chat">
                        <i class="fa-solid fa-comment"></i>
                        <span class="item-description">
                            Chat
                        </span>
                    </a>
                </li>
                }

                @if (funcionalidade == 'Administrador') {
                <li class="side-item" routerLinkActive="mat-accent">
                    <a routerLink="pn-planos">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="item-description">
                            Planos
                        </span>
                    </a>
                </li>
                }
                @if (funcionalidade != 'personal') {
                <li class="side-item" routerLinkActive="mat-accent">
                    <a routerLink="loja">
                        <i class="fa-solid fa-shop"></i>
                        <span class="item-description">
                            Loja
                        </span>
                    </a>
                </li>
                }
                @if (funcionalidade != 'personal') {
                <li class="side-item" routerLinkActive="mat-accent">
                    <a routerLink="despesas">
                        <i class="fa-solid fa-landmark"></i>
                        <span class="item-description">
                            Despesas
                        </span>
                    </a>
                </li>
                }

                @if (funcionalidade != 'personal') {
                <li class="side-item" routerLinkActive="mat-accent">
                    <a routerLink="financeiro">
                        <i class="fa-solid fa-coins"></i>
                        <span class="item-description">
                            Financeiro
                        </span>
                    </a>
                </li>
                }

                <!-- <li class="side-item" routerLinkActive="mat-accent">
                    <a routerLink="manual">
                        <i class="fa-solid fa-book"></i>
                        <span class="item-description">
                            Manual
                        </span>
                    </a>
                </li> -->
                <!-- 
                <li class="side-item" routerLinkActive="mat-accent">
                    <a routerLink="relatorios">
                        <i class="fa-regular fa-pen-to-square"></i>
                        <span class="item-description">
                            Relatórios
                        </span>
                    </a>
                </li> -->

                <!-- @if (funcionalidade == 'Administrador') {
                <li class="side-item" routerLinkActive="mat-accent">
                    <a href="#">
                        <i class="fa-solid fa-gear"></i>
                        <span class="item-description">
                            Configurações
                        </span>
                    </a>
                </li>
                } -->
            </ul>

            <button (click)="AbrirSidebar()" id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <a style="text-decoration: none;" (click)="logout()" href="/admin">
                <button id="logout_btn">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="item-description">
                        Logout
                    </span>
                </button>
            </a>
        </div>
    </nav>

    <main class="b-main">
        <div class="pesquisar">
            <div>
                <input type="text" class="input-pesq" [(ngModel)]="termoBusca" placeholder="Buscar...">
                <ul id="ul-pesquisar" class="p-0">
                    <!-- Utiliza o *ngFor para iterar sobre as opções de menu -->
                    <li *ngFor="let item of menuItems" class="li-pesq" routerLinkActive="mat-accent">
                        <!-- Aplica o filtro utilizando *ngIf -->
                        <a *ngIf="correspondeBusca(item) && termoBusca" [routerLink]="item.routerLink"
                            (click)="resetarBusca()">
                            <i class="{{item.iconClass}}"></i>
                            <span class="item-description">
                                {{item.description}}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <router-outlet></router-outlet>
    </main>
</div>